<!DOCTYPE html>
<html>
  <head>
  	<% include partials/template/head.ejs %>
  </head>

   
      
    	<header>
    		
                 <% include partials/template/header.ejs %>
    			 </header>



 
<body data-spy="scroll" data-target=".navbar-fixed-top">
   
 
        <div class="main" style="margin-top: 200px">
          <div id="home"></div>
       <div></div>
       <div></div>
          <div class="page text-center"> 
           
          
            <div class="content container">
              <img class="logo logo-light logo-square" alt="Logo" src="https://squadrun.co/wp-content/uploads/2015/02/logo-red1.png" width="95px" height="50px">
<h1 style="display: block"><span class="large">Mobile Workforce On-Demand</span><h1>
           <div class="small text-center">
               <p style="font-size: 16px;font-weight: normal; margin-top: 25px"> We help you <strong>crowdsource</strong> your business problems to an <strong>intelligent mobile workforce</strong>.
  
                </p>

                    <p style="margin-top: 20px; color: white "><a href="#contact-us" style="background-color: #e84c3d; margin-top: 25px; color: white; border-radius: 25px; border: 2px solid rgb(232, 76, 61); font-size: 11px; font-weight: bold" class="btn btn-primary btn-filled" target="_self">GET THINGS DONE</a></p>
          
            </div>
        </div> 
         </div>

  <div class="main1" style="background: #f4f4f4; margin-top: 130px; height: 700px"> 
    <div class="fluid-container">
     <div class="text-center">
           <h1 style=" font-weight: 300; display: block; margin-top: 65px; margin-bottom: 70px">Balance of Speed,
            <br>
            Quality and Price
          </h1>
         </div>
<div style="margin-top: 50px">
           <div class="col-xs-6">
           <div class="feature feature-icon-large" >
               <div class="col-sm-2">
            <div class="pull-left"> 
            <i class="icon-beaker" style=" font-size: 60px; color: #e74c3c; border-radius: 50%;  font-weight: 100; padding-right: 50px;margin-top: 100px"></i>
              
</div>
</div>
      <div class="col-xs-9">
             <div class="pull-right" style="text-overflow: clip">
                 <h5 style="font-weight: 300; font-size: 20px"><strong>Speed</strong></h5>
                 <p class="clear" style="font-size: 16px; line-height: 120%;">
                 <span class="small"> Mobile technology enables you to have</span><strong> 24/7</strong> to <strong>thousands of qualified players</strong>.
                  
                 
                  
                </p>
             </div>
</div>
</div>
</div>
          
        <div class="col-xs-6">
           <div class="feature feature-icon-large" >
               <div class="col-sm-2">
            <div class="pull-left"> 
            <i class="icon-cogs" style=" font-size: 60px; color: #e74c3c; border-radius: 50%;  font-weight: 200; margin-right: auto;margin-left: auto"></i>
              
</div>
</div>
      <div class="col-xs-9">
             <div class="pull-right" style="text-overflow: clip;margin-left: auto">
                 <h5 style="font-weight: 300; font-size: 20px; "><strong>Quality</strong></h5>
                 <p class="clear" style="font-size: 16px; line-height: 120%;">
                 <span class="small"> Various </span><strong>quality assurance algorithms</strong> and<strong> efficient workflows </strong> ensure very high quality


                                  
                </p>
             </div>
</div>
</div>
</div> 
</div>
</br>
</br>

    <div class="col-xs-6">
           <div class="feature feature-icon-large" style="margin-left: -50px; margin-top: 120px" >
               <div class="col-sm-2">
            <div class="pull-left"> 
            <i class="icon-inr" style=" font-size: 60px; color: #e74c3c; border-radius: 50%;  font-weight: 200; margin-right: 40px;margin-top: 100px;margin-left: 50px"></i>
              
</div>
</div>
      <div class="col-xs-9">
             <div class="pull-right" style="text-overflow: clip; margin-left: 40px">
                 <h5 style="font-weight: 300; font-size: 20px;"><strong>Price</strong></h5>
                 <p class="clear" style="font-size: 16px; line-height: 120%;">
                 <span class="small">Gain access to a scalable</span><strong> cost-effective workforce</strong> on a<strong> pay-as-you-go </strong>basis 

                 

                                  
                </p>
             </div>
</div>
</div>
</div>  



    <div class="col-xs-6">
           <div class="feature feature-icon-large" style="margin-left: -50px; margin-top: 120px" >
               <div class="col-sm-2">
            <div class="pull-left"> 
            <i class="icon-inr" style=" font-size: 60px; color: #e74c3c; border-radius: 50%;  font-weight: 200; margin-right: 40px;margin-top: 100px;margin-left: 50px"></i>
              
</div>
</div>
      <div class="col-xs-9">
             <div class="pull-right" style="text-overflow: clip; margin-left: 40px">
                 <h5 style="font-weight: 300; font-size: 20px;"><strong>Price</strong></h5>
                 <p class="clear" style="font-size: 16px; line-height: 120%;">
                 <span class="small">Gain access to a scalable</span><strong> cost-effective workforce</strong> on a<strong> pay-as-you-go </strong>basis 

                 

                                  
                </p>
             </div>
</div>
</div>
</div>  


<div class="text-center">
   <p  style="color: #e84c3d "><a href="#contact-us" style="margin-top: 70px; background-color: white; color: #e84c3d ; border-radius: 25px; border: 2px solid rgb(232, 76, 61); font-size: 11px; font-weight: bold; width: 160px; height: 30px; padding-top: 5px" class="btn btn-primary btn-filled" target="_self">FIND OUT HOW?</a></p>
</div>

</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="works"></div>
        <div></div>
         
<div class="text-center">

  <h1 id="howitworks" style="margin-top: 110px;color: #e84c3d"><bold>HOW IT WORKS?</bold></h1>
           <h2 style=" font-weight: 300; margin-top: 120px;margin-bottom: 40px">USE CASES
            
          </h2>
         </div>



      </div>


    </div>
  </div>

<div class="container">
  <div class="row">
   <div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-bolt" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">Moderation</a></h1>
<p style="line-height: 20px">Eliminate Spam. Improve UX. Our players can moderate images, comments, reviews and other data to ensure all content aligns with your rules.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>


 <div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-asterisk" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">CATEGORIZATION</a></h1>
<p style="line-height: 20px">Tap into the power of the crowd to organize your data. Use Our workforce to categorize your data improving your customers’ navigation experience.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>

<div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-bullseye" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">TAGGING</a></h1>
<p style="line-height: 20px">Keyword Tagging helps users find your data. Our crowd can tag pictures, videos, documents and entities to improve your search relevance.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>

<div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-collapse-top" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">DATA COMPRESSION</a></h1>
<p style="line-height: 20px">Whether its matching product variants or reconciling business data, our players review and provide feedback on duplicate data.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>

</div>
</div>


<div class="container">
  <div class="row" style="margin-top: 40px" >
   <div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-star" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">CONTENT CREATION</a></h1>
<p style="line-height: 20px">Get our players to generate images, videos and other content to help you with brand promotion. Create tailored content that suits your needs.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>


 <div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-sitemap" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">DATA COLLECTION</a></h1>
<p style="line-height: 20px">Capture, Update and verify data. Our players can provide you with up-to date information for your directory or marketplace.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>

<div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-unchecked" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">SENTIMENT ANALYSIS</a></h1>
<p style="line-height: 20px">Pick up on Sentiment, tone and context that automated solutions miss. Human-power sentiment analysis helps you get true insights into public opinion.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>

<div id="aq-block-924-20" class="aq-block aq-block-aq_html_block col-sm-3 aq-first ">
    <div class="blog-snippet-1 custom-gray-snippet">
<div style="background: #f4f4f4; height: 120px; width:230px;">
  <div style="padding-top: 34px">
<i class="icon-tag" style="font-size: 40px; margin-top: 40px; margin-left: 100px; margin-top: 34px"></i></div>
</div>
<div>
<h1><a href="#" style="font-size: 22px">UX TESTING</a></h1>
<p style="line-height: 20px">Get feedback on your app or website. Have potential customers test your product to understand actual user behaviour.</p>
</br>
<a href="#" class="link-text" title="Content Moderation" style="text-decoration: underline">
Read More
</a>    
</div>


  </div>


</div>

</div>
</div>

<div id="blog"></div>
  <div></div>
  <div></div>
<div></div>
  <div></div>


<div class="fluid-container">
  <div class="row" style="width: 100%; height: 300px; background-color: #e84c3d; margin-top: 50px; margin-right: 20px">
    <div class="col-sm-12">
      <p class="lead" style=" color: white; width: 370px; margin-left: auto; margin-right: auto; margin-top: 15px">
       <em> <i>
         Snapdeal managed to obtain the results we wanted with the help of SquadRun’s crowdsourced army. The platform is easy to use and provides precise results. We are solving several of our business problems across different divisions.</i></em>
       </p>
       <p class="author" style="color: white; text-align: center;margin-top: 20px">
        PRAFUL PODDAR – DIRECTOR PRODUCT @ SNAPDEAL
      </p>
</div>
</div>
</div>

<div id="player"></div>
  <div></div>
   
<div></div>
<div></div>

<div></div>
<div id="aq-block-924-32" class="aq-block aq-block-aq_section_title_block col-sm-12 aq-first aq-last " style="margin-top: 40px">
  <div class="text-center"><h1 class="">We'd love to hear from you</h1>
  </div></div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<form action="localhost:3000" method="post">
  <div class="pull-center" style="border: 2px solid #777; width: 300px; height: 250px; margin-left: auto; margin-right: auto; border-radius: 30px">
  <input style="width: 100%; height: 60px; padding-left: 10px; border-top-style: none; border-bottom: 2px solid rgba(0,0,0,0.2); border-left: 0px; border-right: 0px; margin:left: 4px; border-radius: 30px 30px 0px 0px;box-shadow: none;background: none" type="textarea" name="your-name" value="" size="40" placeholder="Name*"></input>
  <input style="width: 100%; height: 60px; padding-left: 10px; border-top-style: none; border-bottom: 2px solid rgba(0,0,0,0.2); border-left: 0px; border-right: 0px;margin:left: 4px;border-radius: 0px; box-shadow: none;background: none" type="textarea" name="your-name" value="" size="40" placeholder="Business Email*"></input><br>
  <input  style="width: 100%; padding-left:10px; height: 125px; border-top-style: none; border-bottom: none; border-left: 0px; border-right: 0px;border-radius: 30px 30px 0px 0px;box-shadow: none;line-height: -10px; text-align: start; cursor: auto;background: none" type="textarea" cols="40" rows="10" name="your-name" value="" size="40" placeholder="Drop us a line"></input></div>
</br>
<div class="text-center">
<input type="submit" value="CONTACT US" class="text-center" style="background-color: white; margin-top: 25px; color: #e84c3d; border-radius: 25px; border: 2px solid #e84c3d; font-size: 11px; font-weight: bold; width: 180px; height: 50px"></input></div>
</form>


 

      </br>
    </br>
  </br>
</br>
     </br>
   </br>
 </br>
 <div class="fluid-container">
  <div class="row">
        <footer class="clearfix" style="width: 100%; height: 200px; background-color: #2c3e50 ; bottom: 0px; margin-top: 50px;  webkit-font-smoothing : antialised;padding-top: 50px; padding-bottom: 50px; line height: 24px; font-size: 16px">
        <div class="col-sm-10">
          <span style="color: white">© Copyright 2015 SquadRun Inc.</span>
        </div>
        <div class="col-sm-2 text-right">
            <ul class="social-icons nav nav-pills pull-right navbar-header"style="margin-top: -17px; padding-left: -100px" >
                        <li>
                          <a href="https://www.facebook.com/squadrun" target="_blank" style="font-size: 22px; color: white;">
                          <i class="icon-facebook"></i>
                           </a>
                            </li><li>
                    <a href="https://www.linkedin.com/company/3714258" target="_blank" style="font-size: 22px; color: white">
                   <i class="icon-linkedin-sign"></i>
                  </a>
                  </li>
                </div>
        </footer>
      </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/javascripts/myscript.js"></script>
    			</body>
    			<html>