<nav class="top-bar navbar-fixed-top" style="margin-left: 0px; margin-top: 0px; background-color: white" >
<div class="container row">
       <div class="col-sm-3 col-md-2 column">
        <div class="navbar-header pull-right">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    			<a  href="https://squadrun.co"><img class="logo logo-light logo-square" alt="Logo"  src="https://squadrun.co/wp-content/uploads/2015/02/logo-red1.png" width="60px" height="28px" style="font-size: 14px; margin-top: 20px; color: #333" >
          </a>
          </div>
             </div>
               <div class="col-sm-9 col-md-10 column">
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    			     <ul class="nav nav-pills menu centered-pills" style="margin-top: 20px; margin-left: 40px">
    			     	<li style="padding-right: 25px"><a href="#home">HOME</a><li>
    			     		<li style="padding-right: 25px"><a href="#works">HOW IT WORKS?</a></li>
    			     	<li class="dropdown" style="padding-right: 25px"><a href="#usecases" class="dropdown-toggle" data-toggle="dropdown">USE CASES<span class="caret"></span></a></li>



    			     		<li style="padding-right: 25px"><a href="#blog" style="cursor: auto;">BLOG</a></li>
    			     		<li style="padding-right: 25px"><a href="#player" style="color: #e84c3d">FOR PLAYERS</a></li>
    			     		<li style="padding-right: 25px" class="active">

                   <a style="background-color : #e84c3d; border-radius: 25px" href="http://bit.ly/work-at-sr">We're Hiring!</a>
                   </li>
                 
    			     	</ul>
                
    			     	<ul class="social-icons nav nav-pills pull-right navbar-header"style="margin-top: -40px; margin-right: -100px" >
                        <li>
                          <a href="https://www.facebook.com/squadrun" target="_blank" style="font-size: 22px; color: #000">
                          <i class="icon-facebook"></i>
                           </a>
                            </li><li>
                    <a href="https://www.linkedin.com/company/3714258" target="_blank" style="font-size: 22px; color: #000">
                   <i class="icon-linkedin-sign"></i>
                  </a>
                  </li><li>
                  <a href="https://twitter.com/SquadRunApp" target="_blank" style="font-size: 22px; color: #000">
               <i class="icon-twitter"></i>
                  </a>
               </li></ul>
               </div>
               </div>
    			     </nav>